{% extends "layout.html" %}
{% block title %}Booking Confirmation{% endblock %}
{% block content %}
<div class="col"></div>

<div class="col-5">
    <div class="card card text-center">
        <h1 class="card-header">Booking confirmed</h1>

        <div class="card-body">
            <h5 class="card-title">Thanks for Booking!</h5>
            <p class="card-text">Hope you didn't book the shed!</p>
            <a class="card-link text-decoration-none" href="/home">Go back to Home</a>
        </div>
    </div>
</div>

<div class="col"></div>
{% endblock %}