{% extends 'layout.html' %}
{% block title %}Bookings{% endblock %}
{% block content %}
    <h1>Bookings</h1>

    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th> Owner ID</th>
                <th>Space ID</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            {% if session['email'] == booking['owner_id'] %}
                <tr>
                    <td>{{ booking['id'] }}</td>
                    <td>{{ booking['owner_id'] }}</td>
                    <td>{{ booking['spaces_id'] }}</td>
                    <td>{{ booking['date'] }}</td>
                    <td>{{ booking['status'] }}</td>
                    <td>
                        <a href="/bookings/{{ booking['id'] }}">View</a>
                
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <a href="/spaces">Back to all spaces</a>
    <a href="/bookings/">Back to all bookings</a>
{% endblock %}


