{% extends 'layout.html' %}
{% block title %}Bookings{% endblock %}
{% block content %}
    <h1>Bookings</h1>

    {% if bookings %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>User ID</th>
                    <th>Space ID</th>
                    <th>Check-in</th>
                    <th>Check-out</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(bookings['id']|length) %}
                    <tr>
                        <td>{{ bookings['id'][i] }}</td>
                        <td>{{ bookings['requester_id'][i] }}</td>
                        <td>{{ bookings['spaces_id'][i] }}</td>
                        <td>{{ bookings['check-in'][i] }}</td>
                        <td>{{ bookings['check-out'][i] }}</td>
                        <td>{{ bookings['status'][i] }}</td>
                        <td>
                            <a href="{{ url_for('get_booking', id=bookings['id'][i]) }}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no bookings.</p>
    {% endif %}

    <a href="/view-all-spaces">Back to all spaces</a>
    <a href="/reservations">Back to all reservations</a>
{% endblock %}
