{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="col"></div>

<div class="col-5">
    <div class="card">
        <h1 class="card-header">About</h1>

        <div class="card-body">
            <h5 class="card-title">Our MakersBnB Project</h5>
            <p class="card-text">This is a web page made by: Matt, Aivaras, Polly, George, Alex. Feel free to hack it, boil it, stew it.</p>
        </div>
    </div>
</div>

<div class="col"></div>
{% endblock %}