{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Home</h1>

{% if session['active'] %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success p-1" role="alert">{{ message }}<span class="_session_email">{{ session['email'] }}</span></div>
    {% endfor %}

    <div><a class="_link _all_spaces" href="{{ url_for('view_all_spaces') }}">All Spaces</a></div>
    <div><a class="_link" href="#">My Spaces</a></div>
    <div><a class="_link" href="#">My Bookings</a></div>
{% else %}
    <div class="_logged_out alert alert-info p-1">You are not logged in. Please <a href="{{ url_for('login') }}">Login</a></div>
{% endif %}
{% endblock %}