{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>

{% for message in get_flashed_messages() %}
    <div class="alert alert-danger p-1" role="alert">{{ message }}</div>
{% endfor %}

<form action="login" method="post" class="form">
    <div>{{ form.email.label }}</div>
    <div>{{ form.email }}</div>
    <div>{{ form.password.label }}</div>
    <div>{{ form.password }}</div>
    <div>{{ form.hidden_tag() }}</div>
    <div>{{ form.submit() }}</div>
</form>

{% endblock %}
