{% extends "layout.html" %}
{% block title %}New Space{% endblock %}
{% block content %}
<div class="col"></div>

<div class="col-5">
    <div class="card">
        <h1 class="card-header">New Space</h1>

        <div class="card-body">
            {% if session['active'] %}
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-danger p-1" role="alert">{{ message }}</div>
                {% endfor %}

                <form action="new-space" method="post" class="form">
                    <div>{{ form.description.label }}</div>
                    <div>{{ form.description }}</div>
                    <div>{{ form.name.label }}</div>
                    <div>{{ form.name }}</div>
                    <div>{{ form.bedrooms.label }}</div>
                    <div>{{ form.bedrooms }}</div>
                    <div>{{ form.price.label }}</div>
                    <div>{{ form.price }}</div>
                    <div>{{ form.country.label }}</div>
                    <div>{{ form.country }}</div>
                    <div>{{ form.city.label }}</div>
                    <div>{{ form.city }}</div>
                    <div>{{ form.hidden_tag() }}</div>
                    <div class="mt-2">{{ form.submit() }}</div>
                </form>
                <a href="{{ url_for('view_my_spaces') }}" class="btn btn-secondary btn-sm mt-2">Back</a>
            {% else %}
                <div class="_logged_out alert alert-info p-1">You are not logged in. Please <a href="{{ url_for('login') }}">Login</a></div>
            {% endif %}
        </div>
    </div>
</div>

<div class="col"></div>
{% endblock %}