{% extends "layout.html" %}
{% block title %}Spaces{% endblock %}
{% block content %}
<h1>{{space.name}}</h1>
<div>
    <p data-testid="t-description">{{space.description}}</p>
    <p data-testid="t-bedrooms">{{space.bedrooms}} Bedrooms</p>
    <!-- we are assuming GBP only -->
    <p data-testid="t-price">£{{space.price}}</p>
    <p data-testid="t-location">{{space.city}}, {{space.country}}</p>
    <!-- want to see available dates in the future -->
    <!--  get a list of dates 30 days ahead-->
    <!-- if date is in booked dates - exlude it -->
    
</div>

<form method="post">
    <div data-testid="t-available_dates">
        <label for="available_dates">Available Dates</label>
            <select name="available_dates" id="available_dates">
            {% for date in available_dates %}
            <option data-testid="t-select_date" value="{{date}}">{{date}}</option>
            {% endfor %}
            </select>
    </div>
    <input type="hidden" id="session_email" name="session_email" value="{{session['email']}}">
    <input name="submit" type="submit" value="Book">
</form>
{% endblock %}
