{% extends "layout.html" %}
{% block title %}My Spaces{% endblock %}
{% block content %}
<div class="col"></div>

<div class="col-5">
    <div class="card">
        <h1 class="card-header">My Spaces</h1>

        <div class="card-body">
            {% if session['active'] %}
                <div class="list-group">
                    {% for space in spaces %}
                        <!-- filter out spaces created by logged in user -->
                        {% if space.owner_id == session['email'] %}
                        <div>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="h6">{{ space.city }}, {{ space.country }}</div>
                                <div class="_name">{{ space.name }}</div>
                                <div class="small">{{ space.description }}</div>
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="_logged_out">You are not logged in. Please <a href="{{ url_for('login') }}">Login</a></div>
            {% endif %}
        </div>

        <div class="card-footer"><a href="#" class="btn btn-secondary">Create Space</a></div>
    </div>
</div>

<div class="col"></div>
{% endblock %}