{% extends 'layout.html' %}
{% block title %}Reservations{% endblock %}
{% block content %}
    <h1>Reservations</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Space Name </th>
                <th>Owner email</th>
                <th>Check-In</th>
                <th>Check-Out</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(reservations['id']|length) %}
                <tr>
                    <td>{{ reservations['id'][i] }}</td>
                    <td>{{ reservations['owner_id'][i] }}</td>
                    <td>{{ reservations['check-in'][i] }}</td>
                    <td>{{ reservations['check-out'][i] }}</td>
                    <td>{{ reservations['status'][i] }}</td>
                    <td>
                        <a href="{{ url_for('get_reservation', id=reservations['id'][i]) }}">View</a>
                    </td>
                </tr>
            {% endfor %}
    </table>

    <a href="/spaces">Back to all spaces</a>
    <a href="/reservations/">Back to all reservations</a>
{% endblock %}
