{% extends "layout.html" %}
{% block title %}Reservation{% endblock %}
{% block content %}
<div class="col"></div>

<div class="col-5">
    <div class="card">
        <h1 class="card-header">Reservation</h1>

        <div class="card-body">
            {% if session['email'] %}
                {% if reservation %}
                    <div class="_reservation_id">Reservation ID: {{ reservation.id }}</div>
                    <div class="_user_id">User ID: {{ reservation.requester_id }}</div>
                    <div class="_space_id">Spaces ID: {{ reservation.spaces_id }}</div>
                    <div class="_space_name">Spaces name: {{ space.name }}</div>
                    <div class="_confirmed">Status: {{ reservation.status }}</div>

                    <form action="{{ url_for('cancel_reservation', id=reservation.id) }}" method="post">
                        <input type="submit" value="Cancel">
                    </form>

                {% else %}
                    <div>Reservation not found</div>
                {% endif %}

            {% else %}
                <div class="_logged_out">You are not logged in. Please <a href="{{ url_for('login') }}">Login</a></div>
            {% endif %}
            <a href="{{ url_for('get_bookings') }}"> Back to all bookings</a>
        </div>
    </div>
</div>

<div class="col"></div>
{% endblock %}